<%- include('header') %>
<div class="container">
    <div class="center-block" id="login">
        <div class="row">
            <div class="col-xs-12 h1" id="login-title">
                Taskmanager
            </div>
            <div class="col-xs-12 h2" id="login-subtitle">
                Registration
            </div>
        </div>
        <div class="form-group">
            <form method="post" action="/user/registration"> <!-- GET, mert jelenleg csak a get methodon figyelek -->
                <div class="input-group col-xs-12">
                    <label for="name-input">
                        Name: 
                    </label>
                    <input class="form-control" type="text" name="name" id="name-input" />
                </div>
                <div class="input-group col-xs-12">
                    <label for="email-input">
                        E-mail address: 
                    </label>
                    <input class="form-control" type="email" name="email" id="email-input" />
                </div>
                <div class="input-group col-xs-12">
                    <label for="password-input">
                        Password: 
                    </label>
                    <input class="form-control" type="password" name="password" id="password-input" />
                </div>
                <div class="input-group col-xs-12">
                    <label for="confirm-pw-input">
                        Confirm password: 
                    </label>
                    <input class="form-control" type="password" name="confirm-password" id="confirm-pw-input" />
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input class="btn btn-primary pull-right" type="submit" value="Send" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include('footer') %>
